{% extends 'base.html'%}
{% load static %}
{% block content %}

        <main class="content">
            <!-- BEGIN DETAIL MAIN BLOCK -->
            <div class="detail-block detail-block_margin">
                <div class="wrapper">
                    <div class="detail-block__content">
                        <h1>Blog</h1>
                        <ul class="bread-crumbs">
                            <li class="bread-crumbs__item">
                                <a href="#" class="bread-crumbs__link">Home</a>
                            </li>
                            <li class="bread-crumbs__item">
                                <a href="#" class="bread-crumbs__link">Blog</a>
                            </li>
                            <li class="bread-crumbs__item">Perfumes, perfumed or eau de toilette?</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- DETAIL MAIN BLOCK EOF   -->
            <!-- BEGIN POST -->
            <div class="post">
                <div class="wrapper">
                    <div class="post-top">
                        <h2>{{blog.blog_title}}</h2>
                        <p>{{blog.blog_sub_title}}</p>
                        <img data-src="{{blog_detail.image.url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
                            alt="">
                        <ul class="post-top__info">
                            <li class="post-top__date"><i class="icon-date"></i>{{blog.created_date}}</li>
                            <li class="post-top__user"><i class="icon-user2"></i><a href="#">by Melissa Jones</a></li>
                            <li class="post-top__watch"><i class="icon-eye"></i>114</li>
                            <li class="post-top__comment"><i class="icon-comment"></i>35</li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p>{{blog.description}}<p>
                        <blockquote class="blockquote">
                            “{{blog.blog_sub_title}}”
                            <span class="blockquote-author">Melissa Jones</span>
                        </blockquote>
                        <ul class="post-list">
                            <li>
                                <span>Perfume</span>
                                Is the most expensive type of perfume, because it contains the highest concentration of
                                aromatic composition - 20-30%. Therefore, they should be used only for special events.
                            </li>
                            <li>
                                <span>Perfumed water</span>
                                Is the most concentrated after perfumes mixture of perfume composition 12-15% with ethyl
                                alcohol 85%.
                            </li>
                            <li>
                                <span>Cologne</span>
                                is the least concentrated type of perfume. Contains 5% aromatic substances dissolved in
                                80% ethyl alcohol. By the way, it was the most famous French emperor who introduced
                                colognes into fashion and used 1-2 bottles a day
                            </li>
                            <li>
                                <span>Eau de toilette</span>
                                is what is most likely on your cosmetic table. The most common type of perfume. Contains
                                6-12% of the perfume composition. The term itself, by the way, was invented by Napoleon
                                when he invented a bergamot-based fragrance recipe during a military campaign and called
                                it "eau de toilette."
                            </li>
                        </ul>
                        <div class="discount discount-about js-img" data-src="https://via.placeholder.com/1920x900">
                            <div class="wrapper">
                                <div class="discount-info">
                                    <span class="saint-text">Perfume</span>
                                    <h2>about aromas in more detail</h2>
                                    <p>In 1990, the French Perfume Committee approved the following classification:</p>
                                    <ul>
                                        <li><span>Citrus</span> - based on essential oils of orange, tangerine and
                                            bergamot;</li>
                                        <li><span>Floral</span> - based on the essence of fresh flowers: roses, jasmine,
                                            lilac and others;</li>
                                        <li><span>Woody</span> - based on the essential oils of sandalwood, cedar,
                                            goldenrod;</li>
                                        <li><span>Oriental</span> - based on musk, amber, cinnamon and coriander;</li>
                                        <li><span>Leather</span> - fragrances based on animal skin;</li>
                                        <li><span>Shiprovi</span> - contain incense, oakmoss, patchouli;</li>
                                        <li><span>Wine glasses</span> - complex aromas with wood moss, lavender and
                                            coumarin.</li>
                                    </ul>
                                    <a href="#" class="btn">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <p>Ea amet ex sunt culpa mollit. Aliquip proident ullamco do laboris eiusmod aute ullamco. Duis
                            cupidatat magna excepteur laborum consectetur tempor nulla consectetur dolor consequat
                            incididunt. Veniam ut ut aliquip voluptate fugiat velit laboris. Amet cupidatat nulla
                            voluptate cillum sint nostrud amet aute duis labore minim ipsum. Adipisicing veniam laboris
                            non irure in esse ex aliqua duis eiusmod anim ea. Nostrud consectetur veniam ea officia. Id
                            eu cillum quis ullamco eiusmod in ullamco officia in incididunt sit amet. Anim ullamco
                            excepteur in nisi irure in pariatur. Incididunt anim pariatur pariatur sunt mollit excepteur
                            esse ea sint sit Lorem enim. Consectetur occaecat ut consequat tempor anim proident eu
                            mollit exercitation mollit proident Lorem. Reprehenderit amet ipsum.</p>
                    </div>
                    <div class="post-bottom">
                        <div class="post-bottom__info">
                            <div class="post-bottom__tags">
                                <span>Tags:</span>
                                <ul>
                                    <li><a href="#">Perfume</a></li>
                                    <li><a href="#">Make up</a></li>
                                    <li><a href="#">Spa</a></li>
                                </ul>
                            </div>
                            <div class="contacts-info__social">
                                <span>Share:</span>
                                <ul>
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-insta"></i></a></li>
                                    <li><a href="#"><i class="icon-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-bottom__nav">
                            <a href="#"><i class="icon-arrow"></i>previous post</a>
                            <a href="#">next post<i class="icon-arrow"></i></a>
                        </div>
                    </div>
                    <div class="post-comments">
                        <h3>comments <span>(3)</span></h3>
                        <div class="post-comment">
                            <div class="post-comment__head">
                                <div class="post-comment__author">
                                    <img data-src="https://via.placeholder.com/40"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    <span class="post-comment__name">Melissa Jones</span>
                                    <span class="post-comment__date">July 17, 2020</span>
                                </div>
                                <a href="#" class="post-comment__reply"><i class="icon-reply"></i>reply</a>
                            </div>
                            <div class="post-comment__content">
                                I am grateful to the employees of BeShop for the quality products that I have been using
                                for more than a year, try to work at this level in the future. Thank you)
                            </div>
                        </div>
                        <div class="post-comment post-comment__answer">
                            <div class="post-comment__head">
                                <div class="post-comment__author">
                                    <img data-src="https://via.placeholder.com/40"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    <span class="post-comment__name">Steve Gentley</span>
                                    <span class="post-comment__date">July 03, 2020</span>
                                </div>
                                <a href="#" class="post-comment__reply"><i class="icon-reply"></i>reply</a>
                            </div>
                            <div class="post-comment__content">
                                I am grateful to the employees of BeShop for the quality products that I have been using
                                for more than a year, try to work at this level in the future. Thank you)
                            </div>
                        </div>
                        <div class="post-comment">
                            <div class="post-comment__head">
                                <div class="post-comment__author">
                                    <img data-src="https://via.placeholder.com/40"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    <span class="post-comment__name">Amanda Clement</span>
                                    <span class="post-comment__date">June 27, 2020</span>
                                </div>
                                <a href="#" class="post-comment__reply"><i class="icon-reply"></i>reply</a>
                            </div>
                            <div class="post-comment__content">
                                I am grateful to the employees of BeShop for the quality products that I have been using
                                for more than a year, try to work at this level in the future. Thank you)
                            </div>
                        </div>
                        <div class="post-comment__form">
                            <div class="subscribe-form__img">
                                <img data-src="https://via.placeholder.com/201x138" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                                    class="js-img" alt="">
                            </div>
                            <form>
                                <h3>Leave a comment</h3>
                                <p>Your email address will not be published.</p>
                                <div class="box-field__row">
                                    <div class="box-field">
                                        <input type="text" class="form-control" placeholder="Enter your name">
                                    </div>
                                    <div class="box-field">
                                        <input type="email" class="form-control" placeholder="Enter your email">
                                    </div>
                                    <div class="box-field">
                                        <input type="text" class="form-control" placeholder="Enter your site">
                                    </div>
                                </div>
                                <div class="box-field box-field__textarea">
                                    <textarea class="form-control" placeholder="Enter your revive"></textarea>
                                </div>
                                <button type="submit" class="btn">post a comment</button>
                            </form>
                        </div>
                    </div>
                </div>
                <img class="promo-video__decor js-img" data-src="https://via.placeholder.com/1197x1371/FFFFFF"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" alt="">
            </div>
            <!-- POST EOF   -->
            <!-- BEGIN INSTA PHOTOS -->
            <div class="insta-photos">
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
			</div>
            <!-- INSTA PHOTOS EOF   -->

        </main>

{% endblock %}