{% extends 'base.html'%}
{% load static %}
{% block content %}

        <main class="content">
            <!-- BEGIN DETAIL MAIN BLOCK -->
            <div class="detail-block">
                <div class="wrapper">
                    <div class="detail-block__content">
                        <h1>Contact</h1>
                        <ul class="bread-crumbs">
                            <li class="bread-crumbs__item">
                                <a href="#" class="bread-crumbs__link">Home</a>
                            </li>
                            <li class="bread-crumbs__item">Contact</li>
                        </ul>
                        {% for contacts in contact %}
                        {% if contacts.company_name == 'Watches Nepal Pvt. Ltd' %}
                        <div class="detail-block__items">
                            <div class="detail-block__item">
                                <div class="detail-block__item-icon">
                                    <img data-src="img/main-text-decor.svg"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    <i class="icon-map-pin-big"></i>
                                </div>
                                <div class="detail-block__item-info">
                                    {{contacts.address}}<br>
                                    {{contacts.address_2}}
                                </div>
                            </div>
                            <div class="detail-block__item">
                                <div class="detail-block__item-icon">
                                    <img data-src="img/main-text-decor.svg"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="detail-block__item-info">
                                    {{contacts.phone_number}}<br>
                                    {{contacts.email}}
                                </div>
                            </div>
                            <div class="detail-block__item">
                                <div class="detail-block__item-icon">
                                    <img data-src="img/main-text-decor.svg"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    <i class="icon-2"></i>
                                </div>
                                <div class="detail-block__item-info">
                                    {{contacts.day_open}}<br>
                                    Sat - Sun: Holiday
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- DETAIL MAIN BLOCK EOF   -->
            <!-- BEGIN CONTACTS INFO -->
            <div class="contacts-info">
                <div class="wrapper">
                    <div class="contacts-info__content">
                        <div class="contacts-info__text">
                            <h4>We take care of you</h4>
                        {% for contacts in contact %}
                        {% if contacts.company_name == 'Watches Nepal Pvt. Ltd' %}
                            <p>
                                {{contacts.contact_note}}
                            </p>
                        {% endif %}
                        {% endfor %}
                        </div>
                        <div class="contacts-info__social">
                            <span>Find us here:</span>
                            <ul>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-insta"></i></a></li>
                                <li><a href="#"><i class="icon-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTACTS INFO EOF   -->
            <!-- BEGIN LOGOS -->
			<div class="main-logos main-logos_contacts">
				<img data-src="img/main-logo1.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
				class="js-img" alt="">
				<img data-src="img/main-logo2.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
				class="js-img" alt="">
				<img data-src="img/main-logo3.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
				class="js-img" alt="">
				<img data-src="img/main-logo4.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
				class="js-img" alt="">
				<img data-src="img/main-logo5.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
				class="js-img" alt="">
			</div>
			<!-- LOGOS EOF   -->
            <!-- BEGIN DISCOUNT -->
			<div class="discount discount-contacts js-img" data-src="https://via.placeholder.com/1920x1067">
				<div class="wrapper">
					<div class="discount-info">
						<span class="saint-text">write to us</span>
						<span class="main-text">leave a message</span>
						<p>
                            Write to us if you have any questions, we will definitely contact you and find a solution.
                        </p>
                        <form action="{% url 'contact_message' %}" method="POST">
                            {% csrf_token %}
                            <div class="box-field">
                                <input type="text" name ="name" class="form-control" placeholder="Enter your name">
                            </div>
                            <div class="box-field">
                                <input type="email" name ="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="box-field box-field__textarea">
                                <textarea class="form-control" name ="message" placeholder="Enter your message"></textarea>
                            </div>
                            <button type="submit" class="btn">send</button>
                        </form>
					</div>
				</div>
			</div>
            <!-- DISCOUNT EOF   -->
            <!-- BEGIN CONTACTS MAP -->
            <div class="contacts-map">
                <div id="map"></div>
            </div>
            <!-- CONTACTS MAP EOF   -->
            <!-- BEGIN INSTA PHOTOS -->
            <div class="insta-photos insta-photos_contacts">
                <a href="#" class="insta-photo">
                    <img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
                        alt="">
                    <div class="insta-photo__hover">
                        <i class="icon-insta"></i>
                    </div>
                </a>
                <a href="#" class="insta-photo">
                    <img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
                        alt="">
                    <div class="insta-photo__hover">
                        <i class="icon-insta"></i>
                    </div>
                </a>
                <a href="#" class="insta-photo">
                    <img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
                        alt="">
                    <div class="insta-photo__hover">
                        <i class="icon-insta"></i>
                    </div>
                </a>
                <a href="#" class="insta-photo">
                    <img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
                        alt="">
                    <div class="insta-photo__hover">
                        <i class="icon-insta"></i>
                    </div>
                </a>
                <a href="#" class="insta-photo">
                    <img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
                        alt="">
                    <div class="insta-photo__hover">
                        <i class="icon-insta"></i>
                    </div>
                </a>
                <a href="#" class="insta-photo">
                    <img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
                        alt="">
                    <div class="insta-photo__hover">
                        <i class="icon-insta"></i>
                    </div>
                </a>
            </div>
            <!-- INSTA PHOTOS EOF   -->

        </main>

{% endblock %}