{% extends 'base.html'%}
{% load static %}
{% block content %}


        <main class="content">
            <!-- BEGIN DETAIL MAIN BLOCK -->
            <div class="detail-block detail-block_margin">
                <div class="wrapper">
                    <div class="detail-block__content">
                        <h1>Shop</h1>
                        <ul class="bread-crumbs">
                            <li class="bread-crumbs__item">
                                <a href="#" class="bread-crumbs__link">Home</a>
                            </li>
                            <li class="bread-crumbs__item">Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- DETAIL MAIN BLOCK EOF   -->
            <!-- BEGIN SHOP -->
            <div class="shop">
                <div class="wrapper">
                    <div class="shop-content">
                        <div class="shop-aside">
                            <div class="box-field box-field__search">
                                <input type="search" class="form-control" placeholder="Search">
                                <i class="icon-search"></i>
                            </div>
                            <div class="shop-aside__item">
                                <span class="shop-aside__item-title">Categories</span>
                                <ul>
                                    {% for cat in links %}

                                    <li><a href="{{ cat.get_url }}">{{cat.category_name}}<span> Count: {{link_count}}</span></a></li>

                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="shop-aside__item">
                                <span class="shop-aside__item-title">Price</span>
                                <div class="range-slider">
                                    <input type="text" class="js-range-slider-price" value="" />
                                </div>
                            </div>
                            <div class="shop-aside__item">
                                <span class="shop-aside__item-title">You have viewed</span>
                                <a href="#" class="shop-aside__item-product">
                                    <div class="shop-aside__item-product-img">
                                        <img data-src="https://via.placeholder.com/60x70"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    </div>
                                    <div class="shop-aside__item-product-info">
                                        <span class="shop-aside__item-product-title">Detox body Cream</span>
                                        <span class="shop-aside__item-product-price">$200.95</span>
                                        <ul class="star-rating">
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="#" class="shop-aside__item-product">
                                    <div class="shop-aside__item-product-img">
                                        <img data-src="https://via.placeholder.com/60x70"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    </div>
                                    <div class="shop-aside__item-product-info">
                                        <span class="shop-aside__item-product-title">Detox body Cream</span>
                                        <span class="shop-aside__item-product-price">$200.95</span>
                                        <ul class="star-rating">
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="#" class="shop-aside__item-product">
                                    <div class="shop-aside__item-product-img">
                                        <img data-src="https://via.placeholder.com/60x70"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    </div>
                                    <div class="shop-aside__item-product-info">
                                        <span class="shop-aside__item-product-title">Detox body Cream</span>
                                        <span class="shop-aside__item-product-price">$200.95</span>
                                        <ul class="star-rating">
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="shop-aside__item">
                                <span class="shop-aside__item-title">Top 3 for today</span>
                                <a href="#" class="shop-aside__item-product">
                                    <div class="shop-aside__item-product-img">
                                        <img data-src="https://via.placeholder.com/60x70"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    </div>
                                    <div class="shop-aside__item-product-info">
                                        <span class="shop-aside__item-product-title">Detox body Cream</span>
                                        <span class="shop-aside__item-product-price">$200.95</span>
                                        <ul class="star-rating">
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="#" class="shop-aside__item-product">
                                    <div class="shop-aside__item-product-img">
                                        <img data-src="https://via.placeholder.com/60x70"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    </div>
                                    <div class="shop-aside__item-product-info">
                                        <span class="shop-aside__item-product-title">Detox body Cream</span>
                                        <span class="shop-aside__item-product-price">$200.95</span>
                                        <ul class="star-rating">
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="#" class="shop-aside__item-product">
                                    <div class="shop-aside__item-product-img">
                                        <img data-src="https://via.placeholder.com/60x70"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                    </div>
                                    <div class="shop-aside__item-product-info">
                                        <span class="shop-aside__item-product-title">Detox bod2y Cream</span>
                                        <span class="shop-aside__item-product-price">$200.95</span>
                                        <ul class="star-rating">
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                            <li><i class="icon-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="shop-main">
                            <div class="shop-main__filter">
                                <div><span>Total Product Found: <b>{{product_count}}</b></span></div>
                                <div class="shop-main__checkboxes">
                                    <label class="checkbox-box">
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                        SALE
                                    </label>
                                    <label class="checkbox-box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        NEW
                                    </label>
                                </div>
                                <div class="shop-main__select">
                                    <select class="styled">
                                        <option>From expensive to cheap</option>
                                        <option>From cheap to expensive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="shop-main__items">

                                {% for product in products %}
                                <a href="{{product.get_url}}" class="products-item">
                                    <div class="products-item__type">
                                        <span class="products-item__new">{{product.labels}}</span>
                                    </div>
                                    <div class="products-item__img">
                                        <img data-src={{product.image.url}} src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                        <div class="products-item__hover">
                                            <i class="icon-search"></i>
                                            <div class="products-item__hover-options">
                                                <i class="icon-heart"></i>
                                                <i class="icon-cart"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-item__info">
                                        <span class="products-item__name">{{product.product_name}}</span>
                                        <span class="products-item__cost">Rs.{{product.price}}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <ul class="paging-list">
                                <li class="paging-list__item paging-prev">
                                    <a href="#" class="paging-list__link">
                                        <i class="icon-arrow"></i>
                                    </a>
                                </li>
                                <li class="paging-list__item active">
                                    <a href="#" class="paging-list__link">1</a>
                                </li>
                                <li class="paging-list__item">
                                    <a href="#" class="paging-list__link">2</a>
                                </li>
                                <li class="paging-list__item">
                                    <a href="#" class="paging-list__link">3</a>
                                </li>
                                <li class="paging-list__item">
                                    <a href="#" class="paging-list__link">4</a>
                                </li>
                                <li class="paging-list__item">
                                    <a href="#" class="paging-list__link">5</a>
                                </li>
                                <li class="paging-list__item paging-next">
                                    <a href="#" class="paging-list__link">
                                        <i class="icon-arrow"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <img class="promo-video__decor js-img" data-src="https://via.placeholder.com/1197x1371/FFFFFF"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" alt="">
            </div>
            <!-- SHOP EOF   -->
            <!-- BEGIN SUBSCRIBE -->
            <div class="subscribe">
                <div class="wrapper">
                    <div class="subscribe-form">
                        <div class="subscribe-form__img">
                            <img data-src="https://via.placeholder.com/460x302" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                                class="js-img" alt="">
                        </div>
                        <form>
                            <h3>Stay in touch</h3>
                            <p>Nourish your skin with toxin-free cosmetic roducts.</p>
                            <div class="box-field__row">
                                <div class="box-field">
                                    <input type="text" class="form-control" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- SUBSCRIBE EOF   -->
            <!-- BEGIN INSTA PHOTOS -->
            <div class="insta-photos">
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
			</div>
            <!-- INSTA PHOTOS EOF   -->

        </main>

{% endblock %}